
@{
    ViewData["Title"] = "AddComment";
}

@model List<Comment>

<h3>Add a Comment</h3>
<div class="infoBlock"
<p>These comments are visible to all Seamless partners.</p>
@if(Model.Count != 0)
{
<table>
    <tr>
        <th>User</th>
        <th>Association</th>
        <th>Comment</th>
        <th>Date</th>
    </tr>
    @foreach(Comment c in Model)
    {
        <tr>
            <td>@c.UserName</td>
            <td>@c.Association</td>
            <td>@c.Comment1</td>
            <td>@c.CommentDate</td>
        </tr>
    }
</table>
}

<form action="/Launchpad/AddComment?id=@ViewBag.StartupId" method="post">
    <input type="hidden" name="id" value="@ViewBag.StartupId" />
    <input type="text" name="Comment" required="required" placeholder="Your comments here..." />
    <input type="submit" class="btn btn-primary my-1 mr-sm-2"  value="Submit" />
</form>
</div>
