
@{
    ViewData["Title"] = "ViewDashboard";
}

@model SeamlessLaunchpad.ViewModel.FavoritesViewModel

@{

}

<h3>ViewDashboard</h3>
<h4>Hot Prospects:</h4>
@for (int i = 0; i < Math.Min(2, Model.FavoriteCount.Count); i++)
{
    int hotStartupId = Model.FavoriteCount[i].Key;
    <p>@Model.FavoriteCount[i].Value other Seamless users are watching <a href="/Launchpad/ViewSingle/?id=@hotStartupId"> @Model.StartupsToReview[i].Name </a></p>
}

<h4>Current Prospects:</h4>
<a href ="/Launchpad/ViewDashboard?favOnly=yes">View only your Favorites</a>
<a href ="/Launchpad/ViewDashboard">View all</a><br/>
Filter startups:<br/>
<form action="/Launchpad/ViewDashboard" method="get">
    <input type="hidden" name="favOnly" value="no" />
    <div name="themes">
        Tech Area:
        <input type="checkbox" id="thegoodlife" name="thegoodlife" value="The Good Life" @(ViewBag.TheGoodLife != null ? "checked" : "")>
        <label for="thegoodlife">The Good Life</label>
        <input type="checkbox" id="healthbeyondthehotpital" name="healthbeyondthehospital" value="Health Beyond the Hospital" @(ViewBag.HealthBeyondTheHospital != null ? "checked" : "")>
        <label for="healthbeyondthehotpital">Health Beyond the Hospital</label>
        <input type="checkbox" id="robustfuture" name="robustfuture" value="Robust Future" @(ViewBag.RobustFuture != null ? "checked" : "")>
        <label for="robustfuture">Robust Future</label>
        <input type="checkbox" id="convenienceandproductivity" name="convenienceproductivity" value="Convenience & Productivity" @(ViewBag.ConvenienceProductivity != null ? "checked" : "")>
        <label for="convenienceandproductivity">Convenience & Productivity</label>
    </div>
    <div name="techarea">
        <input type="checkbox" id="softwareai" name="softwareai" value="Software / AI" @(ViewBag.SoftwareAI != null ? "checked" : "")>
        <label for="softwareai">Software / AI</label>
        <input type="checkbox" id="sensing" name="sensing" value="Sensing" @(ViewBag.Sensing != null ? "checked" : "")>
        <label for="sensing">Sensing</label>
        <input type="checkbox" id="robotics" name="robotics" value="Robotics" @(ViewBag.Robotics != null ? "checked" : "")>
        <label for="robotics">Robotics</label>
        <input type="checkbox" id="products" name="products" value="Products" @(ViewBag.Products != null ? "checked" : "")>
        <label for="products">Products</label>
        <input type="checkbox" id="advancedmaterials" name="advancedmaterials" value="Advanced Materials" @(ViewBag.AdvancedMaterials != null ? "checked" : "")>
        <label for="advancedmaterials">Advanced Materials</label>
        <input type="checkbox" id="businessprocess" name="businessprocess" value="Business Process" @(ViewBag.BusinessProcess != null ? "checked" : "")>
        <label for="businessprocess">Business Process</label>
    </div>
    <input type="text" name="City" placeholder="City" @(!string.IsNullOrEmpty(ViewBag.City) ? $"value={ViewBag.City}" : "") /><br/>
    <input type="text" name="Country" placeholder="Country" @(!string.IsNullOrEmpty(ViewBag.Country) ? $"value={ViewBag.Country}" : "") /><br/>
    <input type="submit" value="Filter" /><br/>
    <input type="submit" formaction="/Launchpad/SaveView" value="Save this View" /><br/>
</form><br/>
Select saved view:
<form action="/Launchpad/GetSavedView" method="get">
    <select name="selectedView">
        <option value="">Choose...</option>
        @foreach(int i in ViewBag.UserViews)
        {
            @Html.Raw($"<option value=\"{i}\">{i}</option>")
        }
    </select><br/>
    <input type="submit" value="Select View"/>
</form>
<table class="table">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Summary</th>
        <th>Themes</th>
        <th>Tech Area</th>
        <th>Date Added</th>
        <th>Declared Interest</th>
        <th>Favorite</th>
    </tr>
    @foreach (var s in Model.StartupsToReview)
    {
        
        bool fav = false;
         
        @foreach (var f in Model.FavoriteStartups)
        {
            if (f.StartupId == s.Id)
            {
                fav = true;
            }
        }
        <tr>
            <td><a href="/Launchpad/ViewSingle?id=@s.Id">@s.Name</a></td>
            <td>@s.City</td>
            <td>@s.Country</td>
            <td>@s.Summary</td>
            <td>@s.Theme</td>
            <td>@s.TechArea</td>
            <td>@s.DateAdded</td>
            <td>@s.InterestedPartners</td>
            @if (fav)
                {
                    <td>Favorited!</td>
                }
                else
                {
                    <td></td>
                }
        </tr>
     }
</table>

