
@{
    ViewData["Title"] = "ViewSingle";
}

@model SeamlessLaunchpad.ViewModel.FavoritesViewModel
<h1>Prospective Startup:</h1>
@{ 
    bool fav = false;
    foreach(var f in Model.FavoriteStartups)
    {
        if(f.StartupId == Model.SingleStartupToView.Id)
        {
            fav = true;
        }
    }
} 

<div>
    <table class="table">
        <tr>
            <td>Company Name:</td>
            <td>@Model.SingleStartupToView.Name</td>
            <td>Date Added:</td>
            <td>@Model.SingleStartupToView.DateAdded</td>
        </tr>
        <tr>
            <td>Theme:</td>
            <td>@Model.SingleStartupToView.Theme</td>
            <td>Tech Area:</td>
            <td>@Model.SingleStartupToView.TechArea</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>@Model.SingleStartupToView.City</td>
            <td>Country:</td>
            <td>@Model.SingleStartupToView.Country</td>
        </tr>

    </table>
    <table class="table">
        <tr>
            <td>Summary:</td>
            <td>@Model.SingleStartupToView.Summary</td>
        </tr>
        <tr>
            <td>Interested Partners:</td>
            <td>
                @Model.SingleStartupToView.InterestedPartners
                @if (Model.SingleStartupToView.InterestedPartners != null && Model.SingleStartupToView.InterestedPartners.Contains(Model.UserAssociation))
                {
                    <a href="/Launchpad/RemoveInterest?id=@Model.SingleStartupToView.Id">Remove @Model.UserAssociation as Interested</a>
                }
                else
                {
                    <a href="/Launchpad/AddInterest?id=@Model.SingleStartupToView.Id">Add @Model.UserAssociation as Interested</a>
                }
            </td>

        </tr>
        <tr>
            <td>Watched as Favorite?</td>
            <td>
                @if (fav)
                {
                    <p>Yes. <a href="/Launchpad/RemoveFavorite?id=@Model.SingleStartupToView.Id">Click to remove</a></p>
                }
                else
                {
                    <a href="/Launchpad/AddFavorite?id=@Model.SingleStartupToView.Id">Click to watch as Favorite</a>
                }
            </td>
        </tr>

    </table>
    <h3>Predicted Performance</h3>
    <h4>Top 3 predicted successful startups in matching tech fields:</h4>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Summary</th>
            <th>Score</th>
        </tr>

        @foreach (var p in Model.MatchingPredictedStartups)
        {
            <tr>
                <td>@p.CompanyName</td>
                <td>@p.CompanySummary</td>
                <td>@p.PredictedRating</td>
            </tr>
        }

    </table>
    <h3>News and Trends</h3>
    <h5>Company Name top 3 Search Results:</h5>
    <table class="table">
        <tr>
            <td>Result 1</td>
            <td>Result 2</td>
            <td>Result 3</td>
        </tr>
    </table>
   
    <h3>Comments</h3>
    <h4>Seamless Member Comments</h4>

    <a href="/Launchpad/AddComment?id=@Model.SingleStartupToView.Id">Add a comment</a>
    <h4>@Model.UserAssociation only Comments</h4>
    
    <a href="/Launchpad/AddExclusiveComment?id=@Model.SingleStartupToView.Id">Add a comment visible only by @Model.UserAssociation members.</a>


    <p>Google Search Rank:</p>
    <h3>Predicted Alignment Within Seamless:</h3>
    <p>Mike's Magic Sauce Here</p>
    <h3>Potential Overlap with Existing Startups:</h3>
    <p>Mike's Other Magic Sauce Here</p>

    <h3>Remove from Onboarding Dashboard</h3>
    <a href="/Launchpad/RemoveStartup/?id=@Model.SingleStartupToView.Id">Remove this startup from the Launchpad Dashboard</a>
</div>