
@{
    ViewData["Title"] = "ViewSingle";
}

@model SeamlessLaunchpad.ViewModel.FavoritesViewModel
<h3>Prospective Startup:</h3>
@{
    bool fav = false;
    foreach (var f in Model.FavoriteStartups)
    {
        if (f.StartupId == Model.SingleStartupToView.Id)
        {
            fav = true;
        }
    }
}

<div class="container-fluid">

    <div class="container-fluid infoBlock">
        <div class="row">
            <div class="col-auto">
                <p class="font-weight-bold">COMPANY NAME:</p>
            </div>
            <div class="col-auto">
                <p class="font-italic">@Model.SingleStartupToView.Name</p>
            </div>
            <div class="col-auto">
                <p class="font-weight-bold">DATE ADDED:</p>
            </div>
            <div class="col-auto">
                <p>@Model.SingleStartupToView.DateAdded</p>
            </div>
            <div class="col-auto">
                <p class="font-weight-bold">FAVORITED:</p>
            </div>
            <div class="col-auto">

                @if (fav)
                {
                    <p>Yes. <a href="/Launchpad/RemoveFavorite?id=@Model.SingleStartupToView.Id">Remove?</a></p>
                }
                else
                {
                    <p>No. <a href="/Launchpad/AddFavorite?id=@Model.SingleStartupToView.Id">Add?</a></p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p class="font-weight-bold">THEMES:</p>
            </div>
            <div class="col-auto">
                <p>@Model.SingleStartupToView.Theme</p>
            </div>
            <div class="col-auto">
                <p class="font-weight-bold">TECH AREAS:</p>
            </div>
            <div class="col-auto">
                <p>@Model.SingleStartupToView.TechArea</p>
            </div>
            <div class="col-auto">
                <p class="font-weight-bold">UNIQUENESS:</p>
            </div>
            <div class="col-auto">
                <p>@Model.SingleStartupToView.UniqueScore</p>
            </div>
            <div class="col-auto">
                <p class="font-weight-bold">TEAM STRENGTH:</p>
            </div>
            <div class="col-auto">
                <p>@Model.SingleStartupToView.TeamScore</p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p class="font-weight-bold">CITY:</p>
            </div>
            <div class="col-auto">
                <p>@Model.SingleStartupToView.City</p>
            </div>
            <div class="col-auto">
                <p class="font-weight-bold">COUNTRY:</p>
            </div>
            <div class="col-auto">
                <p>@Model.SingleStartupToView.Country</p>
            </div>
            <div class="col-auto">
                <p class="font-weight-bold">ZIP:</p>
            </div>
            <div class="col-auto">
                <p>@Model.SingleStartupToView.Zip</p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p class="font-weight-bold">SUMMARY:</p>
            </div>
            <div class="col-lg">
                <p>@Model.SingleStartupToView.Summary</p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p class="font-weight-bold">PARTNER ASSOCIATIONS:</p>
            </div>
            <div class="col-auto">
                <p>@Model.SingleStartupToView.InterestedPartners</p>
            </div>
            <div class="col-auto">
                <p>
                    @if (Model.SingleStartupToView.InterestedPartners != null && Model.SingleStartupToView.InterestedPartners.Contains(Model.UserAssociation))
                    {
                        <a href="/Launchpad/RemoveInterest?id=@Model.SingleStartupToView.Id">Remove @Model.UserAssociation as Interested</a>
                    }
                    else
                    {
                        <a href="/Launchpad/AddInterest?id=@Model.SingleStartupToView.Id">Add @Model.UserAssociation as Interested</a>
                    }
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <p class="font-weight-bold">ESTIMATED DISTANCE:</p>
            </div>
            <div class="col-auto">
                @if (ViewBag.Distance != 0)
                {
                    <p>Distance to @Model.SingleStartupToView.Name: roughly @ViewBag.Distance miles away.</p>
                }
            </div>
            <div class="col-auto">
                <form action="/Launchpad/Distance" method="GET">
                    <input type="hidden" name="Id" value="@Model.SingleStartupToView.Id" />
                    <input type="hidden" name="StartZip" value="@Model.SingleStartupToView.Zip" />
                    <input type="number" name="EndZip" placeholder="Zip" />
                    <input type="submit" name="Submit" />
                </form>
            </div>
        </div>
    </div>

    <h3>Comments:</h3>
    <div class="container-fluid infoBlock">
        <div class="row">
            <div class="col-auto">
                <p class="font-weight-bold">PRIVATE COMMENTS:</p>
            </div>
            <div class="col-auto">
                <p><a href="/Launchpad/AddExclusiveComment?id=@Model.SingleStartupToView.Id">Add a comment visible only by @Model.UserAssociation members</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <p class="font-weight-bold">User</p>
                @foreach (Comment c in Model.ExclusiveComments)
                {
                    <p>@c.UserName</p>
                }
            </div>
            <div class="col-sm-2">
                <p class="font-weight-bold">
                    Association</pclass="font-weight-bold">
                    @foreach (Comment c in Model.ExclusiveComments)
                    {
                    <p>@c.Association</p>
                }
                </div>
                <div class="col-lg">
                    <p class="font-weight-bold">Comment</p>
                    @foreach (Comment c in Model.ExclusiveComments)
                    {
                        <p>@c.Comment1</p>
                    }
                </div>
                <div class="col-sm-2">
                    <p class="font-weight-bold">Date</p>
                    @foreach (Comment c in Model.ExclusiveComments)
                    {
                        <p>@c.CommentDate</p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <p class="font-weight-bold">PUBLIC COMMENTS:</p>
                </div>
                <div class="col-auto">
                    <p><a href="/Launchpad/AddComment?id=@Model.SingleStartupToView.Id">Add a comment visible to all Seamless Partners</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <p class="font-weight-bold">User</p>
                    @foreach (Comment c in Model.Comments)
                    {
                        <p>@c.UserName</p>
                    }
                </div>
                <div class="col-sm-2">
                    <p class="font-weight-bold">
                        Association</pclass="font-weight-bold">
                        @foreach (Comment c in Model.Comments)
                        {
                        <p>@c.Association</p>
                    }
                    </div>
                    <div class="col-lg">
                        <p class="font-weight-bold">Comment</p>
                        @foreach (Comment c in Model.Comments)
                        {
                            <p>@c.Comment1</p>
                        }
                    </div>
                    <div class="col-sm-2">
                        <p class="font-weight-bold">Date</p>
                        @foreach (Comment c in Model.Comments)
                        {
                            <p>@c.CommentDate</p>
                        }
                    </div>
                </div>
            </div>
            <h3>News:</h3>
            <div class="container-fluid infoBlock">
                <div class="row">
                    <div class="col-auto">
                        <p class="font-weight-bold">TOP 5 NEWS HITS:</p>
                    </div>
                </div>
                @foreach (var article in Model.Articles)
                {
                    <div class="row">
                        <div class="col-auto">
                            <p>@article.source.name</p>
                        </div>
                        <div class="col-auto">
                            <p><a href="@article.url" target="_blank">@article.title</a></p>
                        </div>
                        <div class="col-auto">
                            <p>@article.publishedAt.Date</p>
                        </div>
                    </div>
                }
            <a href="https://www.google.com/search?q=news"><input type="button" name="NewsSearch" value="News Search" /></a>
            </div>
            <h3>Remove:</h3>
            <div class="container-fluid infoBlock">
                <div class="row">
                    <div class="col-auto">
                        <p class="font-weight-bold">REMOVE STARTUP FROM DASHBOARD:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <p><a href="/Launchpad/RemoveStartup/?id=@Model.SingleStartupToView.Id">Remove this startup from the Launchpad Dashboard</a></p>
                    </div>
                </div>
            </div>
        </div>
</div>
