
@{
    ViewData["Title"] = "ViewDashboard";
}

@model SeamlessLaunchpad.ViewModel.ViewStartupFavorite

@{

}

<h1>ViewDashboard</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Summary</th>
        <th>Themes</th>
        <th>Tech Area</th>
        <th>Date Added</th>
        <th>Declared Interest</th>
        <th>Favorite</th>
    </tr>
    @foreach (var s in Model.StartupsToReview)
    {
        
        bool fav = false;
         
        @foreach (var f in Model.FavoriteStartups)
        {
            if (f.StartupId == s.Id)
            {
                fav = true;
            }
        }
        <tr>
            <td><a href="/Launchpad/ViewSingle?id=@s.Id">@s.Name</a></td>
            <td>@s.City</td>
            <td>@s.Country</td>
            <td>@s.Summary</td>
            <td>@s.Theme</td>
            <td>@s.TechArea</td>
            <td>@s.DateAdded</td>
            <td>@s.InterestedPartners</td>
            @if (fav)
                {
                    <td>Favorited!</td>
                }
                else
                {
                    <td></td>
                }
        </tr>
     }
</table>

