
@{
    ViewData["Title"] = "ViewDashboard";
}

@model SeamlessLaunchpad.ViewModel.FavoritesViewModel

@{

}

<h3>ViewDashboard</h3>
<h4>Hot Prospects:</h4>
@for (int i = 0; i < 2; i++)
{
    int hotStartupId = Model.FavoriteCount[i].Key;
    <p>@Model.FavoriteCount[i].Value other Seamless users are watching <a href="/Launchpad/ViewSingle/?id=@hotStartupId"> @Model.StartupsToReview[i].Name </a></p>
}

<h4>Current Prospects:</h4>
<a href ="/Launchpad/ViewDashboard?favOnly=yes">View only your Favorites</a>
<a href ="/Launchpad/ViewDashboard">View all</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Summary</th>
        <th>Themes</th>
        <th>Tech Area</th>
        <th>Date Added</th>
        <th>Declared Interest</th>
        <th>Favorite</th>
    </tr>
    @foreach (var s in Model.StartupsToReview)
    {
        
        bool fav = false;
         
        @foreach (var f in Model.FavoriteStartups)
        {
            if (f.StartupId == s.Id)
            {
                fav = true;
            }
        }
        <tr>
            <td><a href="/Launchpad/ViewSingle?id=@s.Id">@s.Name</a></td>
            <td>@s.City</td>
            <td>@s.Country</td>
            <td>@s.Summary</td>
            <td>@s.Theme</td>
            <td>@s.TechArea</td>
            <td>@s.DateAdded</td>
            <td>@s.InterestedPartners</td>
            @if (fav)
                {
                    <td>Favorited!</td>
                }
                else
                {
                    <td></td>
                }
        </tr>
     }
</table>

